.Profile_Main{
    width: 100%;
    margin-left: 15px;
    background-color: green($color: #000000);
}
.Profile_logo{
    width: 100%;
}

.Profile_user{
    width: 100%;
    display: flex;
    
}
.Profile_avatar{
    width: 200px;
}
.Profile_ava {
    width: 200px;
  }
.Profile_postText{
    width: 70%;
    height: 100px;
    resize: none;
}
  .Profile_SendMessage{
    width: 100px;
    height: 20px;
    margin-right: 30%;
    float: right;
    font-weight: 600;
    background-color: royalblue;
    outline: none;
  }
  .Profile_SendMessage:hover{
    background-color: rgb(26, 65, 182);
  }