$hrefColor:black;
.LeftMenu{
    width: 15%;
    background-color: rgb(236, 104, 104); 
    ul{
        li{
            list-style: none;
            margin-top: 8px;
            font-size: 18px;
            font-weight: 600;
        }
    }
}
a{
    color: $hrefColor;
    text-decoration: none;
}
a:visited{
    color:$hrefColor;
}
a:hover{
    font-size: 1.14em;
}