.App-header{
    width: 1400px;
    height: 120px;
    margin: 0 auto;
    background-color: #333;
    display: flex;
    .header_logo{
        align-self: center;
        width: 70px;
        margin-left: 50px;
    }
  }