.Dialogs_Main{
    margin-left: 15px;
    width: 100%;
    min-height: 700px;
    background-color: #e4e4e4;
    display: flex;
}
.Dialogs_MesText{
    font-size: 1.2em;
    font-weight: 500;
}
.Dialogs_Interlocutor{
    width: 20%;
    height: 100%;
    border-right: 2px solid  #bdbbbb;
    

    li{
        margin-left: 5px;
        margin-top: 7px;
        font-size: 1.12em;
    }
}
.Dialog_MessagesList{
    min-width: 40%;
}


.Dialog_TextArea{
    margin-top: 5%;
    margin-left: 10%;
    width: 100%;
    height: 200px;
    resize: none;
}
.Dialog_Send{
    width: 120px;
    height: 40px;
    font-weight: bold;
    margin-left: 10%;
}
.Dialog_Send:hover{
    background-color: rgb(60, 20, 240);
}